<?java.huoli.flight.buss.xml version="1.0" encoding="UTF-8"?>
<!--
  ~ developer spirit_demon  at 2015.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <context:component-scan base-package="com.lookup.dynamic"/>
    
    <import resource="applicationContext-task.xml"></import>
    <import resource="applicationContext-actor.xml"></import>
    <import resource="applicationContext-parser.xml"></import>
    
    <aop:aspectj-autoproxy/>
    <!--<context:property-placeholder location="classpath*:datasource.properties"/>-->
    <!--开启这个配置，spring才能识别@Scheduled注解 -->
    
    <task:annotation-driven scheduler="qbScheduler" mode="proxy"/>
    <task:scheduler id="qbScheduler" pool-size="10"/>
    <!--代理池来自文件 -->
    
    <bean id="proxyPool" class="com.lookup.dynamic.proxy.FileProxyPool" init-method="initProxy"></bean>
    <!--代理池来自数据库 -->
    <!--<bean id="proxyPool" class="com.lookup.dynamic.proxy.DBProxyPool" init-method="initProxy"></bean>-->
    <!--UA池 -->
    <bean id="userAgentPool" class="com.lookup.dynamic.proxy.UserAgentPool"></bean>
    <!-- 启用dao -->
    <bean id="stackOverFlowDao" class="com.lookup.dynamic.mutiple.dao.StackOverFlowDao"></bean>
</beans>